<!DOCTYPE HTML>
<html>

<head>
<title>GunFun App</title>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>

  <div class="div-nav">
      <table class="table-nav">
      
          <tr>
              <td colspan="2"><a class="nav-bold-header" href="/" target="_top">GunFun</a></td>
          </tr>
          <tr>
              <td class="nav-bold-sub-header" colspan="2">Registry</td>
          </tr>
          
          <tr>
              <td>•</td>
              <td><a href="/registry" target="main">Registry</a> 
              (<a href="/registry_add" target="main">Add</a>)</td>
          </tr>
          
          <tr>
              <td>•</td>
              <td><a href="/registry_search" target="main">Search Registry</a></td>
          </tr>


          <tr>
              <td class="nav-bold-sub-header" colspan="2">Logs</td>
          </tr>
          
          <tr>
              <td>•</td>
              <td><a href="/log/carry" target="main">Carry</a> 
              (<a href="/log/carry_add" target="main">Add</a>)</td>
          </tr>  
          
          <tr>
              <td>•</td>
              <td><a href="/log/cleaning" target="main">Cleaning</a> 
              (<a href="/log/cleaning_add?dirtyOnly=true" target="main">Dirty</a>/<a href="/log/cleaning_add?dirtyOnly=false" target="main">All</a>)</td>
          </tr>
          
          <tr>
              <td>•</td>
              <td><a href="/log/shot" target="main">Shot</a> 
              (<a href="/log/shot_add" target="main">Add</a>)</td>
          </tr>
       

          <tr>
              <td class="nav-bold-sub-header" colspan="2">Reports</td>
          </tr>
          
          <tr>
              <td>•</td>
              <td><a href="/report/carry" target="main">Carry</a></td>
          </tr>
          
          <tr>
              <td>•</td>
              <td><a href="/report/cleaning" target="main">Cleaning</a></td>
          </tr>
          <tr>
              <td>•</td>
              <td><a href="/report/shot" target="main">Shot</a></td>
          </tr>
          <tr>
              <td>•</td>
              <td><a href="/report/shotbycaliber" target="main">Shot by Caliber</a></td>
          </tr>
          <tr>
              <td>•</td>
              <td><a href="/report/market_report" target="main">Market</a> 
              (<a href="/market/market_update" target="main">Update</a>)</td>
          </tr>

          <tr>
              <td class="nav-bold-sub-header" colspan="2">Functions</td>
          </tr>
          <tr>
              <td>•</td>
              <td><a href="/function/backup?what=ALL" target="main">Backup</a> (<a href="/function/backup?what=DATA" target="main">D</a>/<a href="/function/backup?what=IMAGES" target="main">I</a>/<a href="/function/backup?what=MANUALS" target="main">M</a>/<a href="/function/backup?what=PROPERTIES" target="main">P</a>)</td>
          </tr>
          <tr>
              <td>•</td>
              <td><a href="/h2-console" target="main">H2 Console</a></td>
          </tr>
          <tr>
              <td>•</td>
              <td><a href="/function/rebuild_questions?clean=false" target="main">Rebuild Questions</a></td>
          </tr>

          <tr>
              <td class="nav-bold-sub-header" colspan="2"><a class="nav-bold-sub-header" href="/quiz/start" target="main">Quiz</a></td>
          </tr>

      </table>
  </div>


</body>

</html>
