<!DOCTYPE HTML>
<html>

<head>
<title>GunFun App</title>
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link rel="stylesheet" type="text/css" href="/main.css" />
<script src="/validation.js"></script>
</head>
<body onLoad="document.f1.NICKNAME_1.focus()">
	<script th:inline="javascript">
	function genericValidator(o_form)
	{
    /*[# th:each="i : ${#numbers.sequence( 1, initialBlankEntries)}"]*/
       if (!checkH2Date('DATE_CLEANED_[[${i}]]', 'Date Cleaned [[${i}]]')) return false;
    /*[/]*/
       return true;
	}
	</script>
	<form name="f1" onsubmit="return genericValidator(this)" action="#" th:action="@{/log/cleaning_add}" method="post">

		<table align="center" border="0">

			<tr>
				<td class="main-table-bold-header" th:text="${reportTitle}">-</td>
			</tr>
			
			<tr>
				<td>
					<div align="center" valign="top">
						<table class="table-report" border="0">
							
							
							<tr>
								<td class="table-report-head-center">Gun Nickname</td>
								<td class="table-report-head-center">Date Cleaned</td>
							</tr>
							
							<tr>
								<td class="main-table-fill-space-smaller" colspan="2">&nbsp;</td>
							</tr>
							
							<tr th:each="i : ${#numbers.sequence( 1, initialBlankEntries)}">
					
									<td class="table-report-row-center">
										<select th:name="${'NICKNAME_' + i}" style="width: 180px" >
											<option value="">---</option>
							    			<option th:each="gunName : ${allGunNamesSet}" th:value="${gunName}" th:text="${gunName}"></option>
										</select>
									</td>
									<td class="table-report-row-center"><input th:id="${'DATE_CLEANED_' + i}" th:name="${'DATE_CLEANED_' + i}" style="text-align: center; width: 80px" th:value="${todaysDate}" type="text" autocomplete="off" /></td>
					
							</tr>
							
						</table>
					</div>
				</td>
			</tr>
		
			<tr>
				<td class="main-table-fill-space">&nbsp;</td>
			</tr>
			
			<tr>
				<td class="main-table-fill-space"><input name="Submit1" type="submit" value="Submit" /></td>
			</tr>
			

		</table>



	</form>
</body>

</html>
