<!DOCTYPE HTML>
<html>

<head>
<title>GunFun App</title>
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body onLoad="document.f1.NICKNAME_1.focus()">
	<form name="f1" action="#" th:action="@{/log/shot_add}" method="post">

		<table align="center" border="0">

			<tr>
				<td class="main-table-bold-header" th:text="${reportTitle}">-</td>
			</tr>
			
			<tr>
				<td>
					<div align="center" valign="top">
						<table class="table-report" border="0">
							
							
							<tr>
								<td class="table-report-head-center">Gun Nickname</td>
								<td class="table-report-head-center">Caliber</td>
								<td class="table-report-head-center">Rounds Fired</td>
								<td class="table-report-head-center">Date Fired</td>
							</tr>
							
							<tr>
								<td class="main-table-fill-space-smaller" colspan="4">&nbsp;</td>
							</tr>
							
							<tr th:each="i : ${#numbers.sequence( 1, initialBlankEntries)}">
							
									<td class="table-report-row-center">
										<select th:name="${'NICKNAME_' + i}" style="width: 180px" >
											<option value="">---</option>
							    			<option th:each="gunName : ${allGunNamesSet}" th:value="${gunName}" th:text="${gunName}"></option>
										</select>
									</td>
									
									<td class="table-report-row-center">
										<select th:name="${'CALIBER_' + i}" style="width: 120px" >
											<option value="">---</option>
							    			<option th:each="caliber : ${allCaliberSet}" th:value="${caliber}" th:text="${caliber}"></option>
										</select>
									</td>
					
									<td class="table-report-row-center"><input th:name="${'NO_OF_ROUNDS_' + i}" onChange="calcRounds()" style="text-align: right; width: 40px" th:value="0" type="text" autocomplete="off" /></td>
									<td class="table-report-row-center"><input th:name="${'DATE_SHOT_' + i}" style="text-align: center; width: 80px" th:value="${todaysDate}" type="text" autocomplete="off" /></td>
					
							</tr>
							
							<tr>
								<td class="main-table-fill-space-smaller" colspan="1">&nbsp;</td>
								<td class="main-table-fill-space-smaller" colspan="1">&nbsp;</td>
								<td class="table-report-row-center"><input th:name="TOTAL_ROUNDS" style="font-weight: bold; text-align: right; width: 40px" th:value="0" type="text" autocomplete="off" /></td>
								<td class="main-table-fill-space-smaller" colspan="1">&nbsp;</td>
							</tr>
							
						</table>
					</div>
				</td>
			</tr>
		
			<tr>
				<td class="main-table-fill-space">&nbsp;</td>
			</tr>
			
			<tr>
				<td class="main-table-fill-space"><input name="Submit1" type="submit" value="Submit" /></td>
			</tr>
			

		</table>



	</form>
	
	<script>
	
	function calcRounds() {
		var form = document.querySelectorAll( 'form' )[0];
		var total = 0;
		for (var i = 0; i < form.length; i++) {
			if (form[i].name.startsWith("NO_OF_ROUNDS")) {
				total += parseInt( form[i].value );
			}
		}
		form.elements['TOTAL_ROUNDS'].value = total;
	}
	
	</script>
	
</body>

</html>
