<!DOCTYPE HTML>
<html>

<head>
<title>GunFun App</title>
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
	<form action="#" th:action="@{/log/shot}" method="post">

		<table align="center" border="0">

			<tr>
				<td class="main-table-bold-header"><a href="/log/shot?show=all"><span class="message-text" th:text="${reportTitle}" /></a></td>
			</tr>
			
			<tr>
				<td>
					<div align="center" valign="top">
						<table class="table-report" border="0">
							
							
							<tr>
								<td class="table-report-head-center">Gun Nickname</td>
								<td class="table-report-head-center">Caliber</td>
								<td class="table-report-head-center">Rounds Fired</td>
								<td class="table-report-head-center">Date Fired</td>
								<td class="table-report-head-center">Delete?</td>
							</tr>
							
							<tr>
								<td class="main-table-fill-space-smaller" colspan="5">&nbsp;</td>
							</tr>
							
							<tr th:each="row : ${report}">
									
								<div th:if="${row.get('NICKNAME') == ''}">
									
									<div th:if="${row.get('SHOW_TOTAL') == 'NO'}">
										<td colspan="5"><HR></td>
									</div>
									<div th:unless="${row.get('SHOW_TOTAL') == 'NO'}">
										<td class="main-table-fill-space-smaller" colspan="1">&nbsp;</td>
										<td class="main-table-fill-space-smaller" colspan="1">&nbsp;</td>
										<td class="table-report-row-center"><input th:name="TOTAL_ROUNDS" style="font-weight: bold; text-align: right; width: 40px" th:value="0" type="text" autocomplete="off" /></td>
										<td class="main-table-fill-space-smaller" colspan="1">&nbsp;</td>
									</div>
									
								</div>
								<div th:unless="${row.get('NICKNAME') == ''}">
									<td class="table-report-row-left" th:text="${row.get('NICKNAME')}">-</td>
									
									<div th:if="${row.get('NO_OF_ROUNDS') == '0'}">
										<td class="table-report-row-center">
											<select th:name="${'GUN_PK_CALIBER_' + row.get('SHOOT_PK')}" style="width: 120px" >
												<option value="">---</option>
								    			<option th:each="caliber : ${allCaliberSet}" th:value="${caliber}" th:text="${caliber}"></option>
											</select>
										</td>
										<td class="table-report-row-center">
											<input th:name="${'GUN_PK_ROUNDS_' + row.get('SHOOT_PK')}" onChange="calcRounds()" style="text-align: right; width: 40px" th:value="0" type="text" autocomplete="off" />
										</td>
										<td class="table-report-row-center">
											<input th:name="${'GUN_PK_DATE_FIRED_' + row.get('SHOOT_PK')}" style="text-align: center; width: 80px" th:value="${row.get('DATE_FIRED')}" type="text" autocomplete="off" />
										</td>
									</div>
									<div th:unless="${row.get('NO_OF_ROUNDS') == '0'}">
										<td class="table-report-row-left" th:text="${row.get('CALIBER')}">-</td>
										<td class="table-report-row-center" th:text="${row.get('NO_OF_ROUNDS')}">-</td>
										<td class="table-report-row-center" th:text="${row.get('DATE_FIRED')}">-</td>
									</div>
									
									<td class="table-report-row-center"><input th:name="'DELETE_SHOOT_PK_' + ${row.get('SHOOT_PK')}" type="checkbox" /></td>
								</div>
					
							</tr>
							
						</table>
					</div>
				</td>
			</tr>
		
			<tr>
				<td class="main-table-fill-space">&nbsp;</td>
			</tr>
			
			<tr>
				<td class="main-table-fill-space">
					<span class="button-label">Password for Delete: </span>
					<input name="password" type="password" autocomplete="off" />&nbsp;
					<input name="Submit1" type="submit" value="Submit" />
				</td>
			</tr>
			

		</table>



	</form>
	
	<script>
	
	function calcRounds() {
		var form = document.querySelectorAll( 'form' )[0];
		var total = 0;
		for (var i = 0; i < form.length; i++) {
			if (form[i].name.startsWith("GUN_PK_ROUNDS")) {
				total += parseInt( form[i].value );
			}
		}
		form.elements['TOTAL_ROUNDS'].value = total;
	}
	
	</script>
	
	
</body>

</html>
