<!DOCTYPE HTML>
<html>

<head>
<title>GunFun App</title>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link rel="stylesheet" type="text/css" href="/main.css" />
<script src="/validation.js"></script>
</head>
<body>
	<script th:inline="javascript">
		function genericValidator(o_form)
		{
			if (!checkFieldLength('contestantName', 'Contestant Name', 2, 20, true)) return false;
			
			if (!checkFieldRequired('noOfQuestions', 'Number of Questions')) return false;
			if (!checkNumericValue('noOfQuestions', 'Number of Questions', 1, [[${maxQuestions}]])) return false;	
			
			return true;
		}
	</script>
	<form action="#" onsubmit="return genericValidator(this)" th:action="@{/quiz/question}" method="post">

		<table align="center" border="0">

			<tr>
				<td class="main-table-bold-header" colspan="2"><span class="message-text" th:text="${reportTitle}" /></td>
			</tr>
			
			<tr>
				<td class="main-table-fill-space" colspan="2">&nbsp;</td>
			</tr>
			
			<tr>
				<td class="table-report-row-right">Contestant Name:</td>
				<td class="table-report-row-left"><input id="contestantName" name="contestantName" style="width: 168px" type="text" autocomplete="off" /></td>
			</tr>
			
			<tr>
				<td class="table-report-row-right">No. of Questions:</td>
				<td class="table-report-row-left"><input id="noOfQuestions" name="noOfQuestions" style="width: 40px" type="text" autocomplete="off" /></td>
			</tr>
		
			<tr>
				<td class="main-table-fill-space" colspan="2">&nbsp;</td>
			</tr>
			
			<tr>
				<td class="main-table-fill-space" colspan="2"><input name="Submit1" type="submit" value="Submit" /></td>
			</tr>
			

		</table>

		<input name="getAllGunNames" th:value="${getAllGunNames}" type="hidden" />
		<input name="getAllMakes" th:value="${getAllMakes}" type="hidden" />
		<input name="getAllModels" th:value="${getAllModels}" type="hidden" />
		<input name="getAllCalibers" th:value="${getAllCalibers}" type="hidden" />

	</form>
</body>
</html>
