<!DOCTYPE HTML>
<html>

<head>
<title>GunFun App</title>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<style type="text/css">

.auto-style8 {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: large;
	font-weight: bold;
	padding-bottom: 6px;
}

a {
	color: #000000;
}
a:visited {
	color: #000000;
}
.auto-style9 {
	text-align: left;
}
.auto-style10 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: small;
}
.auto-style11 {
	text-align: right;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: small;
	font-weight: bold;
}
</style>
</head>
<body style="margin: 20px; background-color: #FFFF99">
<form action="#" th:action="@{/quiz/question}" method="post">
	<table align="center" cellpadding="2" cellspacing="0">
		<tr>
			<td colspan="2" class="auto-style8" th:text="${reportTitle}">-</td>
		</tr>
		
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		
		
		<tr>
			<td class="auto-style11">Contestant Name:</td>
			<td><input name="contestantName" style="width: 168px" type="text" autocomplete="off" /></td>
		</tr>
		
		<tr>
			<td class="auto-style11">No. of Questions:</td>
			<td><input name="noOfQuestions" style="width: 40px" type="text" autocomplete="off" /></td>
		</tr>
		
		<tr>
			<td>&nbsp;</td>
			<td><input name="Submit1" type="submit" value="Submit" /></td>
		</tr>
		


	</table>
	
	
	<input name="getAllGunNames" th:value="${getAllGunNames}" type="hidden" />
	<input name="getAllMakes" th:value="${getAllMakes}" type="hidden" />
	<input name="getAllModels" th:value="${getAllModels}" type="hidden" />
	<input name="getAllCalibers" th:value="${getAllCalibers}" type="hidden" />

	
</form>



				


		



</body>

</html>
