<!DOCTYPE HTML>
<html>

<head>
<title>GunFun App</title>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link rel="stylesheet" type="text/css" href="/main.css" />
<script src="/validation.js"></script>
</head>
<body style="margin: 20px; background-color: #FFFF99">
	<script th:inline="javascript">
		function genericValidator(o_form)
		{
			if (!checkFieldLength('contestantName', 'Contestant Name', 2, 20, true)) return false;
			
			if (!checkFieldRequired('noOfQuestions', 'Number of Questions')) return false;
			if (!checkNumericValue('noOfQuestions', 'Number of Questions', 1, [[${maxQuestions}]])) return false;	
			
			return true;
		}
	</script>
<form action="#" onsubmit="return genericValidator(this)" th:action="@{/quiz/question}" method="post">
	<table align="center" cellpadding="2" cellspacing="0">
		<tr>
			<td colspan="2" class="auto-style8" th:text="${reportTitle}">-</td>
		</tr>
		
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		
		
		<tr>
			<td class="auto-style11">Contestant Name:</td>
			<td><input id="contestantName" name="contestantName" style="width: 168px" type="text" autocomplete="off" /></td>
		</tr>
		
		<tr>
			<td class="auto-style11">No. of Questions:</td>
			<td><input id="noOfQuestions" name="noOfQuestions" style="width: 40px" type="text" autocomplete="off" /></td>
		</tr>
		
		<tr>
			<td>&nbsp;</td>
			<td><input name="Submit1" type="submit" value="Submit" /></td>
		</tr>
		


	</table>
	
	
	<input name="getAllGunNames" th:value="${getAllGunNames}" type="hidden" />
	<input name="getAllMakes" th:value="${getAllMakes}" type="hidden" />
	<input name="getAllModels" th:value="${getAllModels}" type="hidden" />
	<input name="getAllCalibers" th:value="${getAllCalibers}" type="hidden" />

	
</form>



				


		



</body>

</html>
